hpack==4.1.0
jupyter_core==5.8.1
jsonpatch==1.33
packaging==25.0
setuptools==80.9.0
menuinst==2.2.0
conda_package_streaming==0.11.0
platformdirs==4.3.8
conda-libmamba-solver==25.4.0
ruamel.yaml==0.18.14
charset-normalizer==3.4.2
conda-package-handling==2.4.0
certifi==2025.6.15
pycosat==0.6.6
traitlets==5.14.3
wheel==0.45.1
jsonpointer==3.0.0
colorama==0.4.6
archspec==0.2.5
tqdm==4.67.1
boltons==25.0.0
conda==25.5.1
truststore==0.10.1
pluggy==1.6.0
Brotli==1.1.0
requests==2.32.4
frozendict==2.4.6
hyperframe==6.1.0
distro==1.9.0
zstandard==0.23.0
h2==4.2.0
idna==3.10
libmambapy==2.3.0
pycparser==2.22
pip==25.1.1
ruamel.yaml.clib==0.2.8
PySocks==1.7.1
cffi==1.17.1
pyarrow==21.0.0
evaluate==0.4.6
datasets==4.2.0
multiprocess==0.70.16
wandb==0.22.2
pyodbc==5.2.0
openai==1.97.1
pyparsing==3.2.3
openlm==0.0.5
langchain-google-genai==2.0.10
polyline==2.0.2
xxhash==3.5.0
requests-cache==1.2.1
pyu2f==0.1.5
langchain-cohere==0.4.4
safetensors==0.5.3
ipympl==0.9.7
tensorflow-datasets==4.9.9
scipy==1.12.0
spectral==0.23.1
gmpy2==2.2.1
xlrd==2.0.1
dask==2025.5.1
sgmllib3k==1.0.0
pycairo==1.28.0
locket==1.0.0
url-normalize==2.2.1
statsmodels==0.14.4
munkres==1.1.4
kaggle==1.7.4.5
openpyxl==3.1.5
jupyter_ai==2.31.5
lz4==4.4.4
widgetsnbextension==4.0.14
py-cpuinfo==9.0.0
azure-common==1.1.28
portalocker==3.2.0
transformers==4.53.3
langchain-nvidia-ai-endpoints==0.3.12
blosc2==3.6.1
torchvision==0.20.1
fsspec==2025.7.0
confection==0.1.5
cloudpickle==3.1.1
xmltodict==0.14.2
tensorflow==2.19.0
dm-tree==0.1.9
torchaudio==2.5.1
numexpr==2.11.0
cattrs==25.1.1
jupyterlab_widgets==3.0.15
tensorboard-data-server==0.7.2
starlette==0.46.2
unicodedata2==16.0.0
urllib3==2.5.0
tifffile==2025.6.11
demesdraw==0.4.0
jupyter-collaboration==4.1.0
jupyter-resource-usage==1.1.1
langchain-ollama==0.3.6
langchain-mistralai==0.2.11
spacy-legacy==3.0.12
httptools==0.6.4
huggingface_hub==0.33.4
responses==0.18.0
googleapis-common-protos==1.70.0
xlwt==1.3.0
more-itertools==10.7.0
RapidFuzz==3.13.0
simplejson==3.20.1
black==25.1.0
duckduckgo_search==8.1.1
pooch==1.8.2
google-auth-httplib2==0.2.0
mysql-connector-python==9.3.0
lxml==5.4.0
contourpy==1.3.2
bravado-core==5.17.1
amadeus==12.0.0
torch==2.5.1
numpydoc==1.9.0
jupyter_server_fileid==0.9.3
spacy-loggers==1.0.5
array_record==0.7.2
text-unidecode==1.3
docstring_parser==0.17.0
azure-core==1.35.0
Sphinx==8.2.3
cloudpathlib==0.21.1
pkginfo==1.12.1.2
fastapi-cli==0.0.8
en_core_web_sm==3.8.0
sphinxcontrib-htmlhelp==2.1.0
dill==0.4.0
pointpats==2.5.1
joblib==1.5.1
einops==0.8.1
sphinxcontrib-qthelp==2.0.0
k3d==2.16.1
branca==0.8.1
tf_keras==2.19.0
scikit-image==0.25.2
feedparser==6.0.11
faiss==1.9.0
uc-micro-py==1.0.3
deepmerge==2.0
matplotlib==3.10.3
python-dotenv==1.1.1
cytoolz==1.0.1
yarl==1.20.1
langchain-community==0.3.27
marisa-trie==1.2.1
jupyter-server-ydoc==2.1.0
mdit-py-plugins==0.4.2
Werkzeug==3.1.3
hf-xet==1.1.5
catalogue==2.0.10
langchain-core==0.3.70
mapclassify==2.10.0
ply==3.11
sortedcontainers==2.4.0
async-timeout==4.0.3
et_xmlfile==2.0.0
ai-edge-litert==1.4.0
dataclasses-json==0.6.7
bravado==11.0.3
bokeh==3.7.3
opensearch-py==2.5.0
cftime==1.6.4
promise==2.3
vega_datasets==0.9.0
fonttools==4.59.0
pyasn1_modules==0.4.2
ndindex==1.10.0
gitdb2==4.0.2
iniconfig==2.1.0
nbgrader==0.9.5
cohere==5.16.1
hvplot==0.11.3
namex==0.1.0
dask-glm==0.3.2
fastapi==0.115.13
threadpoolctl==3.6.0
langchain-openai==0.3.28
azure-identity==1.23.1
sphinxcontrib-devhelp==2.0.0
primp==0.15.0
jsonpath-ng==1.7.0
holoviews==1.21.0
fastavro==1.11.1
ipywidgets==8.1.7
docstring-to-markdown==0.17
partd==1.4.2
PyJWT==1.7.1
psutil==5.9.8
palettable==3.3.3
GitPython==3.1.44
nltk==3.9.1
weasel==0.4.1
wolframalpha==5.1.3
langcodes==3.4.1
tokenizers==0.21.4.dev0
etils==1.13.0
typer==0.16.0
smart_open==7.3.0.post1
xlsxwriter==3.2.5
tables==3.10.2
click==8.2.1
mpld3==0.5.10
flatbuffers==25.2.10
numba==0.61.2
pyOpenSSL==25.1.0
ujson==5.10.0
multipledispatch==0.6.0
isort==6.0.1
jaraco.context==6.0.1
ollama==0.5.1
colorcet==3.1.0
elementpath==5.0.3
narwhals==1.48.0
alabaster==1.0.0
boto3==1.39.10
folium==0.20.0
pyxlsb==1.0.10
jupyter-collaboration-ui==2.1.0
opencv-python==4.11.0.86
absl-py==1.4.0
langchain-anthropic==0.3.17
multidict==6.6.3
jupytext==1.17.2
jedi-language-server==0.45.1
protobuf==5.29.3
thinc==8.3.6
geopandas==1.1.1
sphinxcontrib-serializinghtml==2.0.0
networkx==3.5
sparse==0.17.0
wasabi==1.1.3
propcache==0.3.1
aiohttp==3.12.14
pygls==1.3.1
lazy_loader==0.4
grpcio==1.71.0
mypy_extensions==1.1.0
tenacity==9.1.2
libclang==18.1.1
roman-numerals-py==3.1.0
tensorboard==2.19.0
h5py==3.14.0
blis==1.3.0
patsy==1.0.1
terminaltables==3.1.10
orjson==3.11.0
python-slugify==8.0.4
jupyterlab-spellchecker==0.8.4
preshed==3.0.9
tensorflow-metadata==1.17.2
cymem==2.0.11
pyviz_comms==3.0.6
conda-build==25.5.0
mpmath==1.3.0
tblib==3.1.0
numpy==1.26.4
pandas==2.3.0
botocore==1.39.10
tzdata==2025.2
uvicorn==0.35.0
Markdown==3.8.2
google-api-core==2.25.1
monotonic==1.6
gin-config==0.5.0
sympy==1.14.0
pytest==8.4.1
tensorflow-text==2.19.0
httplib2==0.22.0
imageio==2.37.0
optree==0.16.0
jupyter_ai_magics==2.31.5
google-api-python-client==2.176.0
jupyterlab_code_formatter==3.0.2
s3transfer==0.13.1
smmap==5.0.2
tzlocal==5.3
astunparse==1.6.3
panel==1.7.5
plotly==6.1.2
matplotlib-venn==1.1.2
cachetools==5.5.2
google-pasta==0.2.0
jiter==0.10.0
backports.strenum==1.2.8
O365==2.0.38
rich==13.9.4
murmurhash==1.0.10
rich-toolkit==0.14.8
email_validator==2.2.0
tensorflow-hub==0.16.1
swagger-spec-validator==3.0.4
xyzservices==2025.4.0
termcolor==3.1.0
PyKrige==1.7.1
conda_index==0.6.1
pyproj==3.7.1
param==2.2.1
uritemplate==4.2.0
filelock==3.18.0
google-auth==2.40.3
docutils==0.21.2
xmlschema==4.1.0
sacrebleu==2.5.1
itsdangerous==2.2.0
tiktoken==0.9.0
jupyter-docprovider==2.1.0
redo==2.0.4
typer-slim==0.16.0
tf-models-official==2.19.1
uvloop==0.21.0
humanize==4.12.3
langchain==0.3.26
Cython==3.1.2
libpysal==4.12.1
shapely==2.1.1
seqeval==1.2.2
langchain-aws==0.2.29
jsonref==1.1.0
dnspython==2.7.0
gensim==4.3.2
jupyterlab_git==0.51.2
llvmlite==0.44.0
imagesize==1.4.1
wrapt==1.17.2
shellingham==1.5.4
linkify-it-py==2.0.3
altair==5.5.0
wordcloud==1.9.4
demes==0.2.3
pyogrio==0.11.0
python-multipart==0.0.20
jupyter-ydoc==3.1.0
tf-slim==1.1.0
pycocotools==2.0.10
cycler==0.12.1
textblob==0.15.3
spacy==3.8.7
pathspec==0.12.1
requests-oauthlib==2.0.0
snowballstemmer==3.0.1
tensorflow-model-optimization==0.8.0
regex==2024.11.6
traittypes==0.2.1
distributed==2025.5.1
opt_einsum==3.4.0
keras==3.10.0
proto-plus==1.26.1
ipython==8.37.0
arxiv==2.2.0
pycrdt==0.12.26
pydantic-settings==2.10.1
tabulate==0.9.0
langchain-huggingface==0.3.0
anthropic==0.58.2
google-ai-generativelanguage==0.6.15
filetype==1.2.0
frozenlist==1.7.0
requests-toolbelt==1.0.0
chardet==5.2.0
pandana==0.7
aiosignal==1.4.0
lief==0.16.6
jupyter-lsp==2.2.6
sphinxcontrib-jsmath==1.0.1
simple-parsing==0.1.7
types-PyYAML==6.0.12.20250516
sqlite-anyio==0.2.3
sphinxcontrib-applehelp==2.0.0
nbdime==4.0.2
gitdb==4.0.12
pycrdt-websocket==0.15.5
kiwisolver==1.4.8
jlab_noteable_laf==0.2.0
msal==1.33.0
dataclasses==0.8
psycopg2-binary==2.9.10
jmespath==1.0.1
wikipedia==1.4.0
oauth2client==4.1.3
immutabledict==4.2.1
html2text==0.0.0
httpx-sse==0.4.0
evalidate==2.0.5
google-generativeai==0.8.5
ml_dtypes==0.5.1
langchain-text-splitters==0.3.8
nbexchange==1.5.0
opencv-python-headless==4.11.0.86
websockets==15.0.1
lckr_jupyterlab_variableinspector==3.2.4
rsa==4.9.1
sentry-sdk==2.25.1
scikit-learn==1.7.0
vincent==0.4.4
pillow==10.4.0
fastcore==1.7.27
toolz==1.0.0
PyGObject==3.50.0
google_search_results==2.4.2
zict==3.0.0
marshmallow==3.26.1
jupyterlab-lsp==5.2.0
lsprotocol==2023.0.1
sentence-transformers==5.0.0
dask-ml==2025.1.0
srsly==2.5.1
types-requests==2.32.4.20250611
ffmpeg==1.4
graphviz==0.21
mdurl==0.1.2
seaborn==0.13.2
langsmith==0.3.45
gast==0.6.0
sentencepiece==0.2.0
tornado-prometheus==0.1.2
markdown-it-py==3.0.0
typing_inspect==0.9.0
msgpack==1.1.1
jupyter-pytest-2==1.0.1
jupyter_server_mathjax==0.2.6
libarchive-c==5.3
toml==0.10.2
netCDF4==1.7.2
watchfiles==1.1.0
pyasn1==0.6.1
ipythonblocks==1.9.1
msal-extensions==1.3.1
aiohappyeyeballs==2.6.1
language_data==1.3.0
decorator==5.2.1
pydantic==2.11.7
typing_utils==0.1.0
Jinja2==3.1.6
arrow==1.3.0
typing_extensions==4.14.0
SQLAlchemy==2.0.41
nbconvert==7.16.6
alembic==1.16.1
annotated-types==0.7.0
soupsieve==2.7
comm==0.2.2
fqdn==1.5.1
nest_asyncio==1.6.0
terminado==0.18.1
babel==2.17.0
debugpy==1.8.14
nbclassic==1.3.1
pandocfilters==1.5.0
referencing==0.36.2
blinker==1.9.0
ipykernel==6.29.5
httpx==0.28.1
pamela==1.2.0
defusedxml==0.7.1
notebook_shim==0.2.4
httpcore==1.0.9
prompt_toolkit==3.0.51
jupyter_server_terminals==0.5.3
pure_eval==0.2.3
argon2-cffi==25.1.0
ipython_genutils==0.2.0
isoduration==20.11.0
jupyter_client==8.6.3
oauthlib==3.2.2
matplotlib-inline==0.1.7
argon2-cffi-bindings==21.2.0
cached-property==1.5.2
pkgutil_resolve_name==1.3.10
python-dateutil==2.9.0.post0
nbclient==0.10.2
MarkupSafe==3.0.2
pexpect==4.9.0
uri-template==1.3.0
wcwidth==0.2.13
jsonschema-specifications==2025.4.1
typing-inspection==0.4.1
jupyterhub==5.3.0
jupyter-events==0.12.0
overrides==7.7.0
pytz==2025.2
Mako==1.3.10
anyio==4.9.0
asttokens==3.0.0
rpds-py==0.25.1
jupyterlab==4.4.3
sniffio==1.3.1
ipython_pygments_lexers==1.1.1
zipp==3.23.0
cryptography==45.0.4
tomli==2.2.1
jedi==0.19.2
attrs==25.3.0
pydantic_core==2.33.2
importlib_resources==6.5.2
executing==2.2.0
tornado==6.5.1
parso==0.8.4
prometheus_client==0.22.1
rfc3986-validator==0.1.1
webcolors==24.11.1
ptyprocess==0.7.0
bleach==6.2.0
nbformat==5.10.4
mistune==3.1.3
exceptiongroup==1.3.0
Pygments==2.19.1
importlib_metadata==8.7.0
tinycss2==1.4.0
beautifulsoup4==4.13.4
webencodings==0.5.1
jupyterlab_server==2.27.3
jupyter_server==2.16.0
six==1.17.0
greenlet==3.2.3
jupyterlab_pygments==0.3.0
Send2Trash==1.8.3
types-python-dateutil==2.9.0.20250516
h11==0.16.0
pickleshare==0.7.5
websocket-client==1.8.0
async_generator==1.10
jsonschema==4.24.0
certipy==0.2.2
PyYAML==6.0.2
fastjsonschema==2.21.1
pyzmq==27.0.0
notebook==7.4.3
python-json-logger==2.0.7
rfc3339_validator==0.1.4
async-lru==2.0.5
json5==0.12.0
stack_data==0.6.3
